/* Слайдер */

.slick-slider {
    position: relative;
}


/* Слайдер запущен */

.slick-slider.slick-initialized {
    overflow: hidden;
}


/* Слайдер с точками */

.slick-slider.slick-dotted {}


/* Ограничивающая оболочка */

.slick-list {}


/* Лента слайдов */

.slick-track {
    display: flex;
}


/* Слайд */

.slick-slide {}


/* Слайд активный (показывается) */

.slick-slide.slick-active {}


/* Слайд основной */

.slick-slide.slick-current {}


/* Слайд по центру */

.slick-slide.slick-center {}


/* Клонированный слайд */

.slick-slide.slick-cloned {}


/* Стрелка */

.slick-arrow {}


/* Стрелка влево */

.slick-arrow.slick-prev {}

.slick-arrow.slick-prev:hover {}

.slick-arrow.slick-prev:active {}


/* Стрелка вправо */

.slick-arrow.slick-next {}

.slick-arrow.slick-next:hover {}

.slick-arrow.slick-next:active {}


/* Стрелка не активная */

.slick-arrow.slick-disabled {}


/* Точки (булиты) */

.slick-dots {}

.slick-dots li {}


/* Активная точка */

.slick-dots li.slick-active button {}


/* Элемент точки */

.slick-dots li button {}

.slick-dots li button:hover {}

.slick-dots li button:active {}